@using Microsoft.AspNetCore.Identity;
@using identity.Areas.Identity.Data

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">

    <h1 class="display-4" style="color:white;">Nuevas Peliculas</h1>

</div>

